.main:hover {
  /* border: 1px solid pink; */

  cursor: pointer;
}
.post {
  border-bottom: 1px solid gray;
  margin: 25px 250px;
}
.post:hover {
  box-shadow: rgba(231, 222, 222, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.post p {
  color: #fff;
  background-color: blue;
  border-radius: 50%;
  width: 3%;
  justify-content: center;
  text-align: center;
}
.post h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: gainsboro;
}
.post h2:hover {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: yellow;
}
.post span {
  color: yellowgreen;
  /* margin-top: 21px; */
}
